.App {
  text-align: center;
  display: grid;
}

.App-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-search-item {
  margin-bottom: 10px;
  max-width: 250px;
}
.App-search-input {
  font-size: 24px;
}
.App-search-submit {
  background: #56ed7e linear-gradient(to bottom, #56ed7e 5%, #5cbf2a 100%);
  border-radius: 50px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}
.App-search-submit:hover {
  background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #56ed7e 100%);
}
.App-search-submit:active {
  position: relative;
  top: 1px;
}

.App-error {
  color: red;
}
.App-results-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}
.App-results-table-item {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .App {
    grid-template-columns: 50% 50%;
  }
}
